<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Settings</title>
    <style>
        body {
            background-color: #F5F8FA;
        }
    </style>
</head>
<body>
    <!-- Top Nav -->
    <nav class="blue nav-extended">
        <div class="container">
            <div class="nav-wrapper">
                <a href="javascript:;" class="brand-logo open-sidenav" data-activates="slide-out" style="font-size: 16px">
                    <i class="material-icons">format_align_left</i><span>Settings</span>
                </a>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a target="_self" class="active" href="#">Ebay Accounts</a></li>
                    <li class="tab"><a target="_self" href="settings_user_management.html">User Management</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="display:none">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
    </div>

    <!-- Content -->
    <div class="container" id="settings">
        <div class="row">
            <div class="col s12 l8 offset-l2 m8 offset-m2">
                <form action="." @submit.prevent="save">
                    <!--div class="card">
                        <div class="card-content grey-text">
                            <div class="card-title">
                                <p class="grey-text text-darken-1">Account Information</p>
                            </div>
                            <div class="input-field col s12 m6 l6">
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">First Name</label>
                            </div>
                            <div class="input-field col s12 l6 m6">
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Last Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Email</label>  
                            </div>
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Address</label>
                            </div>

                            <div style="clear:both"></div>
                        </div>
                    </div-->

                    <div class="card" v-for="(row, index) in rows">
                        <div class="card-content grey-text">
                            <div class="input-field col s12">
                                <input id="icon_prefix" type="email" class="validate" v-model="row.email">
                                <label for="icon_prefix">Email</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="icon_prefix" type="password" class="validate" v-model="row.password">
                                <label for="icon_prefix">Password</label>
                            </div>
                            
                            <p>
                                <input type="checkbox" :id="index" v-model="row.proxy_use" />
                                <label :for="index">Use Proxy</label>
                            </p>

                            <template v-if="row.proxy_use">
                                <div class="input-field col s12">
                                    <input id="icon_prefix" type="text" class="validate" v-model="row.proxy_ip">
                                    <label for="icon_prefix">IP</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="icon_prefix" type="text" class="validate" v-model="row.proxy_port">
                                    <label for="icon_prefix">Port</label>
                                </div>
                            </template>

                            <div style="clear:both"></div>
                        </div>
                        <a class="waves-effect btn-flat green-text"><i class="material-icons left">done_all</i> Save</a>
                        <a @click="removeAccount(index)" class="waves-effect btn-flat waves-light red-text" style="float: right"><i class="material-icons left">delete</i>Remove</a>
                        <div style="clear:both"></div>
                    </div>

                    <div class="center-align">
                        <a title="Add account" class="btn-floating waves-effect waves-light blue" @click="addAccount"><i class="material-icons">add</i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <!-- Side Nav -->
    <ul id="nav-mobile" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="https://placeimg.com/640/640/arch/grayscale">
                </div>
                <a href="#!user"><img class="circle" src="https://placeimg.com/64/64/animals"></a>
                <a href="#!name"><span class="white-text name">Dayat</span></a>
                <a href="#!email"><span class="white-text email">dayat.py@gmail.com</span></a>
            </div>
        </li>
        <li><a href="#!" class="waves-effect"><i class="material-icons">home</i>Home</a></li>
        <li><a href="#!" class="waves-effect"><i class="material-icons">assessment</i>Sales</a></li>
        <li><a href="#!" class="waves-effect"><i class="material-icons">shopping_cart</i>Items</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="settings.html"><i class="material-icons">linear_scale</i>Settings</a></li>
        <li><a class="waves-effect" href="login.html"><i class="material-icons">account_circle</i>Logout</a></li>
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="assets/js/settings.js"></script>
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();

            $('.open-sidenav').click(function() {
                $('.button-collapse').sideNav('show');
            });

            $('#textarea1').trigger('autoresize');
        })
    </script>
</body>
</html>